#auth {
  padding: 0 50px;
  height: 100%;
  overflow-y: auto;
  
  .api-filter {
    overflow-y: hidden;
  }

  .api-filter .form-group {
    width: 40%;
  }
  
  .table {
    
    &.auth-list {
      width: 80%;
    }

    th, td:last-child, td:first-child {
      text-align: center;
    }

    td {
      a {
        margin: 0 8px;
      }
    }

    &.table-form td {
      padding: 0;
      height: 30px;
      line-height: 30px;
    }

  }
}