.selectApi {
  table {
    th {
      text-align: center;
    }
    td {
      max-width: 300px;
      word-wrap: break-word;
      word-break: normal;

      &:first-child {
        text-align: center;
      }

      &.label-td {
        text-align: center;
        width: 80px;
      }
    }
    .code-td {
      padding: 0;
      code {
        max-height: 40px;
        max-width: 300px;
        display: inline-block;
        overflow: hidden;
        cursor: pointer;
      }
    }

    code {
      font-size: 10px;
    }
  }

  .response-table {
    td:nth-child(2) {
      text-align: center;
    }
  }

  .api-opt {
    float: right;
    margin: 20px 0;

    button {
      margin-left: 15px;
    }
  }

  .pagination-wrap {
    width: 80%;
    display: inline-block;

    .page-info {
      color: $blue;
      display: inline-block;
      margin: 30px 0 0 20px;
      position: absolute;
    }
  }
}

.ml15 {
  margin-left: 15px;
}

.mr15 {
  margin-right: 15px;
}

.ml5 {
  margin-left: 5px;
}

.mr5 {
  margin-right: 5px;
}

.assert-cbx {
  float: left;
  margin-bottom: 0px;
  margin-right: 10px
}

.assert-table {
  margin-top: 20px;

  tbody > tr > td, thead > tr > th {
    vertical-align: middle;
    text-align: center;
  }

  .form-group {
    margin-bottom: 0px;
  }
}

.dbverify-table .api-path{
  width: 250px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: list-item;
}

.assert-opt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ccc;
  padding-top: 15px;
  button {
    margin-left: 15px;
  }
}

.api-filter {
  .form-group {
    float: left;
    width: 30%;
  }

  .col-xs-9 {
    padding-left: 0;
  }

  .btn-wrap {
    float: left;
    width: 30%;
    padding-left: 2%;

    .btn {
      float: left;
      width: 40%;
      margin-left: 20px;
    }
  }
}

#apiEdit {
  padding: 0 50px;

  .btn {
    padding: 6px 20px;
    margin-right: 20px;
  }

  textarea {
    background-color: #f6f6f1;
    box-shadow: none;
    border-radius: 0 0 4px 4px;
  }

}

.api-request {

  .text-navy {
    color: #23527c;
  }
  .text-red {
    color: red;
  }
  .text-gray {
    color: gray;
  }
  .table {
    th, td {
      text-align: center;
    }

    td:last-child.text-blue {
      text-align: left;
      max-width: 350px;
    }

    td {
      padding: 0;
      height: 28px;
      line-height: 28px;

      a {
        margin: 0 10px;
      }
    }

    .form-group {
      margin: 0;
      height: 30px;

      .form-control {
        height: 30px;
      }
    }
  }

  .api-request-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 1px solid #ccc;
    .api-requset-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .api-request-left {
      width: 60%;
      margin: 10px;

      .well-lg {
        padding: 10px 24px 10px 10px;
      }

      .panel-title, .header {
        font-size: 14px;
      }
    }
    .api-request-right {
      background-color: #f5f5f5;
      border-left: 1px solid #ccc;
      padding: 10px;
      width: 37%;
    }
  }

  .api-request-opt {
    float: right;
    margin-top: 15px;

    button {
      margin-left: 15px;
    }
  }

  .row {
    margin-left: 0;
    margin-right: 0;
  }

  .send-info-container {
    .input-text {
      width: 100%;
      border: 1px solid #ccc;
      border-radius: 4px;
      background-color: white;
    }
    h4 {
      text-align: center;
    }
  }

  .var-info-container {
    td {
      max-width:200px;
      word-break: break-all;
    }
    .glyphicon-menu-down {
      margin-left: 5px;
    }
  }

  .response-container {
    width: 100%;
    background-color: #f5f5f5;
    border-top: 1px solid #ccc;
    padding: 10px;
  }
}

.sql-pop {
  width: 425px;
  max-width: 425px;
  word-wrap: break-word;
  word-break: normal;
  font-size: 10px;

  .popover-content {
    padding: 0;
  }

  .form-group {
    margin: 0;
  }

  textarea {
    font-size: 10px;
    height: 100px;
  }
}

.request-url-group {
  display: flex;
}
